@use "../../styles/base" as *;

.star-list {
  list-style: none;
  width: 80%;
  padding: 0;
  li {
    @include flexbox;
    background: $accent-color_light;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 4px;

    .word {
      @include flexbox;
      width: 90%;
      gap: 10px;
      transition: max-height 0.3s ease-in-out;

      .def {
        width: 900px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.expanded {
        max-height: 200px;
        overflow: auto;
      }
    }
    .handle {
      cursor: grab;
    }
  }
}

@media screen and (max-width: 800px) {
  .star-list{
    width: 100%;
  }
}
