$text-color: #374375;
$accent-color_dark: #6a95cf;
$accent-color_light: #faf9f9;
$background-color:  #e8e8e8;
$background-color_dark: #c6c6c6;
$breakpoint-small: 750px;

@mixin flexbox() {
  display: flex;
  align-items: center;
}