@use "../../styles/base" as *;

.word-list {
  list-style: none;
  width: 80%;
  padding: 0;

  li {
    background: $accent-color_light;
    margin-top: 10px;
    border-radius: 4px;

    .word-item {
      @include flexbox;
      width: 100%;
      .word {
        @include flexbox;
        width: 90%;
        gap: 10px;
        transition: max-height 0.3s ease-in-out;

        .def {
          width: 900px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

      }
    }
  }
}

@media screen and (max-width: 800px) {
  .word-list {
    width: 100%;
  }
}
