@use "../../styles/base" as *;

.word-list {
  list-style: none;
  width: 80%;

  li {
    @include flexbox;
    background: $accent-color_light;
    justify-content: space-between;
    margin: 10px;

    .word {
      @include flexbox;
      width: 90%;
      gap: 10px;
      transition: max-height 0.3s ease-in-out;

      .def {
        max-width: 800px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.expanded {
        max-height: 200px;
        overflow: auto;
      }
    }
  }
}
