@use "../../styles/base" as *;

.checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  margin-right: 8px;
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  @include flexbox;
  margin-right: 5px;

  .star-icon {
    width: 30px;
    height: 30px;
    fill:$accent-color_light;
    transition: fill 0.2s ease;
  }
}


.checkbox-box.checked {
  .star-icon {
    fill:$accent-color_dark;
  }
}
