@use "../../styles/base" as *;

.checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  &-input {
    display: none;
  }

  &-box {
    display: flex;


    .icon {
      width: 30px;
      height: 30px;
      fill: $accent-color_light;
      transition: fill 0.2s ease;

    }

    &.checked {
      .icon {
        fill: $accent-color_dark;
      }
    }
  }

}





