@use "../../styles/variables" as *;

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.home-page {
  display: flex;
  width: 100%;
  gap: 10px;
}

@media screen and (width <= 800px){
  .home-page{
    flex-direction: column;
  }
}